body {
    background-color: rgb(80, 191, 228);
}

button {
    margin: auto;
}

h1 {
    margin: auto;
    text-align: center;
    font-size: 50px;
    color: rgb(17, 16, 73);
}

h2 {
    margin: auto;
    text-align: center;
    font-size: 25px;
    color: rgb(17, 16, 73);
}

.Space {
    clear:left;
    height:25px;
    margin-top:20px;
    margin-right:20px;
    margin-bottom:20px;
    margin-left:20px;
   }

.button-fill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 45px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    outline: 2px solid #fff;
    font-size: .9em;
    position: relative;
    transition: .3s;
    border-radius: 4px;
}

.button-fill::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #5549F1;
    z-index: -1;
    transition: .3s;
}

.fill-bottom::after {
    transform: scaleY(0);
    transform-origin: bottom;
}

.button-fill:hover {
    outline: 2px solid rgb(85, 73, 241);
}
.button-fill:hover::after {
    transform: scale(1, 1);
}

@media only screen and (max-width: 830px) {

    .butt-cont {
        grid-template-columns: repeat(1, 180px);
    }

}